@font-face {
    font-family: 'Continental Stag Sans Light';
    src: url('../fonts/ContinentalStagSans-Light.eot');
    src: url('../fonts/ContinentalStagSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ContinentalStagSans-Light.woff2') format('woff2'),
        url('../fonts/ContinentalStagSans-Light.woff') format('woff'),
        url('../fonts/ContinentalStagSans-Light.ttf') format('truetype'),
        url('../fonts/ContinentalStagSans-Light.svg#ContinentalStagSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Continental Stag Sans Book';
    src: url('../fonts/ContinentalStagSans-Book.eot');
    src: url('../fonts/ContinentalStagSans-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ContinentalStagSans-Book.woff2') format('woff2'),
        url('../fonts/ContinentalStagSans-Book.woff') format('woff'),
        url('../fonts/ContinentalStagSans-Book.ttf') format('truetype'),
        url('../fonts/ContinentalStagSans-Book.svg#ContinentalStagSans-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Continental Stag Sans Med';
    src: url('../fonts/ContinentalStagSans-Medium.eot');
    src: url('../fonts/ContinentalStagSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ContinentalStagSans-Medium.woff2') format('woff2'),
        url('../fonts/ContinentalStagSans-Medium.woff') format('woff'),
        url('../fonts/ContinentalStagSans-Medium.ttf') format('truetype'),
        url('../fonts/ContinentalStagSans-Medium.svg#ContinentalStagSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

.gf-l-i {
	font-family: 'Lato', sans-serif;
	font-style: italic;
}

.gf-l-b {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

.gf-m-m {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.f-c-b {
	font-family: 'Continental Stag Sans Book';
}

.f-c-m {
	font-family: 'Continental Stag Sans Med';
}

.f-c-l {
	font-family: 'Continental Stag Sans Light';
}

.halves {
	z-index: 2;
    position: relative;
}

.post-title, .post-email-title {
    letter-spacing:normal;
}

.overlay-dark-15:before {
    background: rgba(0, 0, 0, .15);
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}

.overlay-dark-15-video:before {
    background: rgba(0, 0, 0, .15);
    -webkit-pointer-events: auto;
    -moz-pointer-events: auto;
    pointer-events: auto;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
	margin: 0 3px 0;
	height: 0;
	display: inline-block;
	position: relative;
	z-index: 1;
	background: url(../img/e.png) left top no-repeat;
	background-size: 100% auto;
	vertical-align:top;
}

.text62 {
	font-size: 40px;
    line-height: 43px;
}

.text62 .text-hide{
	width: 19px;
	margin-top: 5px;
}

.text82 {
	font-size: 55px;
	line-height: 58px;
}

.text82 .text-hide{
	width: 27px;
	margin-top: 7px;
}

.text110 {
	font-size: 80px;
	line-height: 85px;
}

.text110 .text-hide{
	width: 40px;
	margin-top: 9px;
}

.text-center {
	text-align: center;
}

@media screen and (min-width:768px){
	.text-sm-right {
		text-align: right;
	}
}

@media screen and (min-width:768px){
	.text62 {
		font-size: 50px;
		line-height: 55px;
	}

	.text62 .text-hide{
		width: 24px;
		margin-top: 7px;
	}

	.text82 {
		font-size: 70px;
		line-height: 75px;
	}

	.text82 .text-hide{
		width: 34px;
		margin-top: 9px;
	}

	.text110 {
		font-size: 66px;
		line-height: 70px;
	}

	.text110 .text-hide{
		width: 33px;
		margin-top: 8px;
	}
}

@media screen and (min-width:768px) and (max-width:991px){
	.section-txt-services p {
		font-size: 13px;
	}
}

@media screen and (min-width:992px){
	.text62 {
		font-size: 62px;
		line-height: 65px;
	}

	.text62 .text-hide{
		width: 30px;
		margin-top: 8px;
	}

	.text82 {
		font-size: 82px;
		line-height: 85px;
	}

	.text82 .text-hide{
		width: 40px;
		margin-top: 9px;
	}

	.text110 {
		font-size: 95px;
		line-height: 100px;
	}

	.text110 .text-hide{
		width: 48px;
		margin-top: 10px;
	}
}

@media screen and (min-width:1200px){

	.text110 {
		font-size: 110px;
		line-height: 115px;
	}

	.text110 .text-hide{
		width: 56px;
		margin-top: 11px;
	}
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

.bg_orange {
	background: #f1972a;
}

.bg_black {
	background: #000;
}

.orange {
	color: #f1972a !important;
}

.main-navigation .navbar-nav li.active a {
	color: #f1972a !important;
}

.logo {
	padding-top: 0;
}

.logo .navbar-brand {
	height: auto !important;
}

.post-all p {
    text-align: left;
}

.main-navigation-bg .logo {
    padding-top: 0;
}

.navbar-nav {
	font-weight: 600;
}

.the-button {
	white-space: nowrap;
	min-width: 165px;
}

.half {
	background-repeat: no-repeat;
}

footer .address {
	font-size: 14px;
	padding-top: 20px;
}

footer .menu {
	margin: 0;
	padding: 0;
	list-style: none;
	text-transform: uppercase;
}

footer .menu li {
	display: inline-block;
	font-size: 14px;
	padding: 0;
	margin: 0 30px 0 0;
}

footer .menu li:last-child {
	margin: 0;
}

footer a, footer .menu li a {
	color: #000;
}

footer .menu li a:hover {
	text-decoration: underline;
}

footer ul.social-icons li {
	display: inline-block;
	padding: 0;
	margin-right: 10px;
}

footer ul.social-icons li a {
	display: inline-block;
	width: 36px;
	height: 36px;
	line-height: 36px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	text-align: center;
}

footer ul.social-icons li a.ion-social-twitter {
	background: #7dcdee;
}

footer ul.social-icons li a.ion-social-facebook {
	background: #547dbb;
}

footer ul.social-icons li a.ion-social-pinterest {
	background: #e65959;
}

footer ul.social-icons li:last-child {
	margin-right: 0;
}

footer .row > div{
	padding-top: 20px;
}

.main-navigation-bg .logo-dark {
	width: 132px;
	height: 30px;
}

.half.with-bg {
	position: relative;
}

.text-center {
	text-align: center !important;
}

.event {
	color: #fff;
	text-align: left;
}

.event .title {
	font-weight: 700;
	font-size: 29px;
    line-height: 33px;
	margin: 0 0 5px 0;
	color: #fff;
}

.event .info {
	display: block;
	padding: 8px 0 0 60px;
	min-height: 48px;
	background: url("../img/event_info_icon.png") left top no-repeat;
	background-size: 48px 48px;
	font-size: 20px;
	font-weight: 500;
	margin: 0 0 10px 0;
}

.event .desc {
	font-size: 17px;
}

.event .desc p {
	text-align: left;
}

.navbar-fixed-top {
    border-width: 0;
}

#last_event .parallax-facts {
    background-image: url(../img/bg_countdown.jpg);
}

#countdown {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

#countdown .number {
	font-size: 7vw;
	line-height: 1;
}

#countdown .cont_time > div {
	position: relative;
	z-index: 1;
}

#countdown .cont_time > div:after {
	position: absolute;
	z-index: 2;
	width: 1px;
	background: #f1972a;
	top: 15px;
	bottom: 0;
	right: 0;
	display: block;
	content: " ";
}

#countdown .cont_time > div:last-child:after {
	display: none;
}

@media only screen and (max-width: 768px){
	.navbar-toggle {
		margin-top: -47px;
	}
}

@media screen and (min-width:768px){
	.main-navigation .navbar-nav li a:after {
		content: " ";
		bottom: 29px;
		left: 50%;
		right: 50%;
		height: 1px;
		background: #f1972a;
		position: absolute;
		z-index: 2;
		transition: all 0.4s ease;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
	}
	
	.main-navigation-bg .main-navigation .navbar-nav li a:after {
		bottom: -2px;
	}
	
	.main-navigation .navbar-nav li.active a:after, .main-navigation .navbar-nav li a:hover:after {
		left: 10px;
		right: 10px;
	}

	footer .logo2, footer .address {
		display: inline-block;
		vertical-align: middle;
	}
	
	footer .address {
		padding-left: 25px;
		margin-left: 25px;
		border-left: 4px solid #000;
		padding-top: 0;
	}
	
	.logo .navbar-brand {
		padding-top: 60px;
	}	
	
	.main-navigation-bg .logo .navbar-brand {
		padding: 15px;
	}	
}

@media screen and (min-width:768px) and (max-width:991px){

	footer ul.social-icons {
		float: right;
	}
	
	footer .menu {
		padding-top: 6px;
	}
}

@media screen and (min-width:992px){
	footer .menu {
		padding-top: 15px;
	}
}

@media screen and (min-width:992px) and (max-width:1199px){

	footer ul.social-icons {
		padding-top: 13px;
	}

	footer ul.social-icons li {
		margin-right: 6px;
	}
	
	footer ul.social-icons li a {
		font-size: 16px;
		width: 30px;
		height: 30px;
		line-height: 30px;
	}
}

@media screen and (min-width:1200px){
	footer ul.social-icons {
		padding-top: 9px;
	}
}