@import "partials/_variables";
@import "partials/_post_featured_article";
@import "partials/_black_chili";
@import "partials/_black_chili_survey";

@font-face {
    font-family: 'Continental Stag Sans Light';
    src: url('../../fonts/ContinentalStagSans-Light.eot');
    src: url('../../fonts/ContinentalStagSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/ContinentalStagSans-Light.woff2') format('woff2'),
        url('../../fonts/ContinentalStagSans-Light.woff') format('woff'),
        url('../../fonts/ContinentalStagSans-Light.ttf') format('truetype'),
        url('../../fonts/ContinentalStagSans-Light.svg#ContinentalStagSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Continental Stag Sans Book';
    src: url('../../fonts/ContinentalStagSans-Book.eot');
    src: url('../../fonts/ContinentalStagSans-Book.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/ContinentalStagSans-Book.woff2') format('woff2'),
        url('../../fonts/ContinentalStagSans-Book.woff') format('woff'),
        url('../../fonts/ContinentalStagSans-Book.ttf') format('truetype'),
        url('../../fonts/ContinentalStagSans-Book.svg#ContinentalStagSans-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Continental Stag Sans Med';
    src: url('../../fonts/ContinentalStagSans-Medium.eot');
    src: url('../../fonts/ContinentalStagSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/ContinentalStagSans-Medium.woff2') format('woff2'),
        url('../../fonts/ContinentalStagSans-Medium.woff') format('woff'),
        url('../../fonts/ContinentalStagSans-Medium.ttf') format('truetype'),
        url('../../fonts/ContinentalStagSans-Medium.svg#ContinentalStagSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.custom-button {
    background: none;
    border: none;
}

.gf-l-i {
    font-family: 'Lato', sans-serif;
    font-style: italic;
}

.gf-l-b {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.gf-m-r {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.gf-m-m {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.gf-m-b {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.f-c-b {
    font-family: 'Continental Stag Sans Book';
}

.f-c-m {
    font-family: 'Continental Stag Sans Med';
}

.f-c-l {
    font-family: 'Continental Stag Sans Light';
}

.halves {
    z-index: 2;
    position: relative;
}

.post-title, .post-email-title {
    letter-spacing:normal;
}

.overlay-dark-15:before {
    background: rgba(0, 0, 0, .15);
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}

.overlay-dark-15-video:before {
    background: rgba(0, 0, 0, .15);
    -webkit-pointer-events: auto;
    -moz-pointer-events: auto;
    pointer-events: auto;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    margin: 0 3px 0;
    height: 0;
    display: inline-block;
    position: relative;
    z-index: 1;
    background: url(../images/e.png) left top no-repeat;
    background-size: 100% auto;
    vertical-align:top;
}

.text65 {
    font-size: 65px;
    line-height: 60px;
}

.text62 {
    font-size: 40px;
    line-height: 43px;
}

.text62 .text-hide{
    width: 19px;
    margin-top: 5px;
}

.text82 {
    font-size: 55px;
    line-height: 58px;
}

.text82 .text-hide{
    width: 27px;
    margin-top: 7px;
}

.text110 .text-hide{
    width: 40px;
    margin-top: 9px;
}

@media screen and (min-width:768px){
    .text62 {
        font-size: 50px;
        line-height: 55px;
    }

    .text62 .text-hide{
        width: 24px;
        margin-top: 7px;
    }

    .text82 {
        font-size: 70px;
        line-height: 75px;
    }

    .text82 .text-hide{
        width: 34px;
        margin-top: 9px;
    }

    .text110 {
        font-size: 66px;
        line-height: 70px;
    }

    .text110 .text-hide{
        width: 33px;
        margin-top: 8px;
    }
}

@media screen and (min-width:768px) and (max-width:991px){
    .section-txt-services p {
        font-size: 13px;
    }
}

@media screen and (min-width:992px){
    .text62 {
        font-size: 62px;
        line-height: 65px;
    }

    .text62 .text-hide{
        width: 30px;
        margin-top: 8px;
    }

    .text82 {
        font-size: 82px;
        line-height: 85px;
    }

    .text82 .text-hide{
        width: 40px;
        margin-top: 9px;
    }

    .text110 {
        font-size: 95px;
        line-height: 100px;
    }

    .text110 .text-hide{
        width: 48px;
        margin-top: 10px;
    }
}

@media screen and (min-width:1200px){

    .text110 {
        font-size: 110px;
        line-height: 115px;
    }

    .text110 .text-hide{
        width: 56px;
        margin-top: 11px;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.bg_orange {
    background: $primary-color;
}

.bg_black {
    background: #000;
}

.orange {
    color: $primary-color !important;
}

.black {
    color: black !important;
}

.main-navigation .navbar-nav li.active a {
    color: $primary-color !important;
}

.logo {
    padding-top: 0;
}

.logo .navbar-brand {
    height: auto !important;
}

.post-all p {
    text-align: left;
}

.main-navigation-bg .logo {
    padding-top: 0;
}

.navbar-nav {
    font-weight: 600;
}

.the-button {
    white-space: nowrap;
    min-width: 165px;
}

.the-button-xl {
    white-space: nowrap;
    min-width: 200px;
}

.intro-quote {
    color: #f1972a;
}

.single-post .screen,
.page .screen {
    height: 500px;
}

.single-post .content strong {
    color: #f1972a;
}

.single-post .gallery {
    margin:20px 0 !important;
}

.single-post .gallery .gallery-item {
   margin: 0 !important;
}

.single-post .gallery .gallery-item img {
    border: 2px solid #fff !important;
    width: 100%;
    height: auto;
}

img.aligncenter {
    margin:0 auto;
    display: block;
}

footer .address {
    font-size: 14px;
    padding-top: 20px;
}

footer .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    // text-transform: uppercase;
}

footer .menu li {
    position: relative;
    display: inline-block;
    font-size: 12px;
    padding: 0;
    margin: 0 5px 0 0;
}

footer .menu li:last-child {
    margin: 0;
}

footer .menu li:after {
    position: absolute;
    content: "|";
    right: -6px;
    top: -1px;
}

footer .menu li:last-child:after {
    content: '';
}

footer a { /*, footer .menu li a*/
    color: #000 !important;
}

footer .menu li a:hover {
    text-decoration: underline;
}

footer ul.social-icons li {
    display: inline-block;
    padding: 0;
    margin-right: 10px;
}

footer ul.social-icons li a {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
	color: #fff !important;
}

footer ul.social-icons li a.ion-social-twitter {
    background: #7dcdee;
}

footer ul.social-icons li a.ion-social-facebook {
    background: #547dbb;
}

footer ul.social-icons li a.ion-social-pinterest {
    background: #e65959;
}

footer ul.social-icons li:last-child {
    margin-right: 0;
}

footer .row > div{
    padding-top: 20px;
}

footer .logo-auto {
    position: relative;
}

footer .logo-auto:before {
    content: "";
    width: 4px;
    height: 42px;
    background-color: #000;
    display: block;
    position: absolute;
    top: 24px;
    left: 0;
}

footer .logo-auto > img {
    max-width: 55px;
}

.main-navigation-bg .logo-dark {
    width: 132px;
    height: 30px;
}

.half.with-bg {
    position: relative;
}

.text-center {
    text-align: center !important;
}

.event {
    color: #fff;
    text-align: left;
}

.event .title {
    font-weight: 700;
    font-size: 29px;
    line-height: 33px;
    margin: 0 0 5px 0;
    color: #fff;
}

.event .info {
    display: block;
    padding: 8px 0 0 60px;
    min-height: 48px;
    background: url("../images/event_info_icon.png") left top no-repeat;
    background-size: 48px 48px;
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 10px 0;
}

.event .desc {
    font-size: 17px;
}

.event .desc p {
    text-align: left;
}

.navbar-fixed-top {
    border-width: 0;
}

#last_event .parallax-facts {
    background-image: url(../images/bg_countdown.jpg);
}

#countdown {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

#countdown .number {
    font-size: 7vw;
    line-height: 1;
}

#countdown .cont_time > div {
    position: relative;
    z-index: 1;
}

#countdown .cont_time > div:after {
    position: absolute;
    z-index: 2;
    width: 1px;
    background: $primary-color;
    top: 15px;
    bottom: 0;
    right: 0;
    display: block;
    content: " ";
}

#countdown .cont_time > div:last-child:after {
    display: none;
}

[data-mh] {
	-ms-flex-align: center!important;
    align-items: center!important;
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

[data-mh] > span, [data-mh] > p {
    display: block;
    width: 100%;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 10px;
	opacity: 1;
	color: #818181;
}

.slick-dots li.slick-active button:before {
    color: $primary-color;
}

.cd-author img {
	margin-right: 0;
}

#featured-work p, #featured-work h3.cd-featured-name {
	color: #fff;
}

.wheel {
	display: inline-block;
	margin: 0 auto;
	width: 80%;
	/*padding-bottom: 80%;
	height: 0;*/
	position: relative;
	z-index: 1;
}

.wheel img {
	max-height: 550px;
	position: relative;
	z-index: 3;
}

.wheel .circle {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}

/*.wheel > div {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-size: 100% auto;
}*/

@import "partials/_blocks";
@import "partials/_archive_card";
@import "partials/_overlay";


@media screen and (max-width:480px){
    .inner-divider {
        height: 40px;
    }
}

@media screen and (max-width:767px){
    .text65, .text110 {
        font-size: 46px;
        line-height: 46px;
    }

    footer {
        text-align: center;
    }

    footer ul.social-icons {
        text-align: center;
    }

    footer img {
        margin:0 auto;
    }
}

@media only screen and (max-width: 768px){
    .navbar-toggle {
        margin-top: -47px;
    }
}

@media screen and (min-width:768px){
    .main-navigation .navbar-nav li a:after {
        content: " ";
        bottom: 29px;
        left: 50%;
        right: 50%;
        height: 1px;
        background: $primary-color;
        position: absolute;
        z-index: 2;
        transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
    }
    
    .main-navigation-bg .main-navigation .navbar-nav li a:after {
        bottom: -2px;
    }
    
    .main-navigation .navbar-nav li.active a:after, .main-navigation .navbar-nav li a:hover:after {
        left: 10px;
        right: 10px;
    }

    footer .logo2, footer .address {
        display: inline-block;
        vertical-align: middle;
    }
    
    footer .address {
        padding-left: 25px;
        margin-left: 25px;
        border-left: 4px solid #000;
        padding-top: 0;
    }
    
    .logo .navbar-brand {
        padding-top: 60px;
    }   
    
    .main-navigation-bg .logo .navbar-brand {
        padding: 15px;
    }   
}

@media screen and (min-width:768px) and (max-width:991px){

    footer ul.social-icons {
        float: right;
    }
    
    footer .menu {
        padding-top: 6px;
    }
}

@media screen and (min-width:992px){
    footer .menu {
        padding-top: 15px;
    }
	.slick-bottom {
		width: 60%;
		margin: 0 auto;
	}
}

@media screen and (min-width:992px) and (max-width:1199px){

    footer ul.social-icons {
        padding-top: 13px;
    }

    footer ul.social-icons li {
        margin-right: 6px;
    }
    
    footer ul.social-icons li a {
        font-size: 16px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
}

@media screen and (min-width:1200px){
    footer ul.social-icons {
        padding-top: 9px;
    }
}

.nopadding > .row {
	margin: 0;
}

.nopadding > .row > div {
	padding: 0;
}

.text62_giro {
    font-size: 40px;
    line-height: 43px;
}

.text82_giro {
    font-size: 78px;
    line-height: 62px;
}

@media screen and (min-width:768px){

    .text62_giro {
        font-size: 50px;
        line-height: 53px;
    }

    .text82_giro {
        font-size: 100px;
        line-height: 102px;
    }

}

@media screen and (min-width:992px){

    .text62_giro {
        font-size: 70px;
        line-height: 73px;
    }

    .text82_giro {
        font-size: 135px;
        line-height: 120px;
    }

}

@media screen and (min-width:1200px){

    .text62_giro {
        font-size: 90px;
        line-height: 93px;
    }

    .text82_giro {
        font-size: 175px;
        line-height: 160px;
    }

}