.wrapper_card {
    padding: 5px;
    max-width: 1280px;
    width: 95%;
    margin: 20px auto;
}

.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
}

.column {
    flex: 1;
    padding: 10px;
	margin-bottom:30px;
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
}

@media screen and (min-width: 768px) {
	.columns .column {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
}

@media screen and (min-width: 992px) {
	.columns .column {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
}

@media screen and (min-width: 1200px) {
	.columns .column {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
}


/*
@media screen and (max-width: 980px) {
  .columns .column {
        margin-bottom: 5px;
        -ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
        &:nth-last-child(2) {
            margin-right: 0;
        }
        &:last-child {
            flex-basis: 100%;
            margin: 0;
        }
    }
}

@media screen and (max-width: 680px) {
    .columns .column {
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }
}


@media screen and (min-width: 1200px) {
	.columns .column {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
}*/