$col-primary: #f1972a;

/*FORM*/
.page-template-black-chili input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $col-primary;
  opacity: 1; /* Firefox */
}

.page-template-black-chili input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $col-primary;
}

.page-template-black-chili input::-ms-input-placeholder { /* Microsoft Edge */
  color: $col-primary;
}

.page-template-black-chili input {
	font-style: italic;
    font-weight: bold;
    padding: 6px 10px;
	border:none;
	border-bottom: 1px solid  $col-primary;
}

.page-template-black-chili input + input {
	margin-left: 30px;
}

.page-template-black-chili .input-prepend {
	position:relative;
	display: inline-block;
}

.page-template-black-chili input.icon-mail {
	background-image: url(../images/black-chili/arrow-right-input.png);
	background-repeat: no-repeat;
    background-position: center right 10px;
    padding: 6px 35px 6px 10px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    margin: 0;
    background-color: transparent;
    text-indent: -9999px;
}

.page-template-black-chili .checkboxWrap {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	line-height: 25px;
    font-size: 14px;
    font-weight: 500;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-style: italic;
}

.page-template-black-chili .checkboxWrap input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	// height: 0;
	// width: 0;
}

.page-template-black-chili .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #ffffff;
	border: 1px solid #000;
}

.page-template-black-chili .checkboxWrap:hover input ~ .checkmark {
	border-color: $col-primary;
}

.page-template-black-chili .checkboxWrap input:checked ~ .checkmark {
	border-color: $col-primary;
}

.page-template-black-chili .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.page-template-black-chili .checkboxWrap input:checked ~ .checkmark:after {
	display: block;
}

.page-template-black-chili .checkboxWrap .checkmark:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:15px;
    height:15px;
    background: $col-primary;

}

.page-template-black-chili .facebook-button,
.page-template-black-chili .default-button {
	background-color:#4a67ad;
	color: #fff;
	border-radius:8px;
	border:1px solid #4a67ad;
    padding:5px 16px;
    display: inline-block;
    font-weight: 500;
    min-width: 150px;
    text-align: center;
}

.page-template-black-chili .facebook-button .ion-social-facebook {
	background: #fff;
    padding: 2px 5px 2px 10px;
    margin-right: 8px;
    color: #4a67ad;
    border-radius: 4px;
}

.page-template-black-chili .default-button {
	background-color: $col-primary;
	color: #000;
	border-color:$col-primary;
}

.page-template-black-chili .facebook-button:hover {
	color:#4a67ad;
	background-color:#fff;
}

.page-template-black-chili .default-button:hover {
	color:$col-primary;
	background-color:#fff;
}

.radio {
	position:relative;
}

.radio + .radio {
	margin-top:30px;
}

input[type="radio"] {
    position: absolute;
    left: -9999px;
}

.radio label {
	padding-left:0;
}

.radio-bullet {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background:#FFF;
  border: 2px solid #000;
  color: #000;
  text-align: center;
  display: block;
  border-radius: 50% 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  float: left;
  top:50%;
  transform:translateY(-50%);
  margin-right: -30px;
  box-shadow: 0 0 10px rgba(0, 109, 115, 0);
  -webkit-transition: border-color 0.3s, color 0.3s, background 0.3s, box-shadow 0.3s;
  transition: border-color 0.3s, color 0.3s, background 0.3s, box-shadow 0.3s; 
  }

.radio-bullet:before {
    content: '';
    position: absolute;
	opacity:0;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    display: block;
    border-style: solid;
    border-width: 2px;
    border-radius: 50% 50%;
    border-color:$col-primary;
    background:#FFFFFF;
    -webkit-transition: border-color 0.3s;
    transition: border-color 0.3s;
}

.radio:hover .radio-bullet {
    border-color: $col-primary;
}
  
.radio-label {
	line-height:30px;
	transition: color 0.3s;
	color: #000;
	display: inline-block;
	padding-left: 42px;
}

.radio:hover .radio-label {
	color: $col-primary;
}

input[type="radio"]:checked + .radio-body .radio-bullet:before {
	border-color:$col-primary;
	background-color: $col-primary;
	opacity:1;
}

input[type="radio"]:checked + .radio-body .radio-bullet {
	border-color:$col-primary;
}

input[type="radio"]:checked + .radio-body .radio-label {
	    color:$col-primary;
}
/*end form*/


.page-template-black-chili .hero-fullscreen {
	border-bottom: 9px solid $col-primary;
}

.page-template-black-chili .hero-fullscreen.overlay-dark-15:before {
	background:none;
}

.page-template-black-chili .hero-fullscreen-FIX .hero-bg {
	background-position: center;
}


.page-template-black-chili img {
	max-width: 100%;
	height: auto;
}

.page-template-black-chili .wrapper_art {
	position:relative;
	min-height: 600px;
}

.page-template-black-chili .wrapper_art:before {
	content:"";
	background-image: url(../images/black-chili/art-left.png);
    position: absolute;
    top: 80px;
    left: -123px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left top;
    width: 123px;
    height: 455px;
}

.page-template-black-chili .wrapper_art:after {
	content:"";
	background-image: url(../images/black-chili/art-right.png);
	position: absolute;
	top: 140px;
    right: -354px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: right top;
    width: 354px;
    height: 452px;
}

.page-template-black-chili .step {
	display: none;

	&.active {
	
		display: block;

	}
}

.page-template-black-chili .step_1 .legal {
	display: inline-block;
	margin-left: 30px;
}

.page-template-black-chili .legal a {
	text-transform: uppercase;
	color: #000;
	font-weight: 500;
    text-decoration: underline;
    display: inline-block;
    font-size: 13px;
}

.page-template-black-chili .legal a + a {
	border-left:1px solid #000;
	padding-left: 6px;
    margin-left: 4px;
}

.page-template-black-chili .step_2 .signin {
	
	display: none;

	&.active {
	
		display: block;

	}

}

.page-template-black-chili .step_2 .col {
	vertical-align: middle;
	display: inline-block;
}

.page-template-black-chili .step_2 .col + .col {
	margin-left: 25px;
}

.page-template-black-chili .slide_question {

	display: none;

	&.active {
	
		display: block;

	}

}

.page-template-black-chili .risposta {
	display: none;
	margin-top: 45px;
	position:relative;
	background-color: $col-primary;
	padding: 30px 30px 25px;
	font-weight: 600;

	&.active {
	
		display: block;

	}
}

.page-template-black-chili .risposta .arrow-top {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid $col-primary;
    position: absolute;
    top: -15px;
    left: 50px;                                                     
}

.page-template-black-chili .risposta:before,
.page-template-black-chili .risposta:after {
	content:"";
	position:absolute;
	top: 0;
	bottom:0;
	background-color: $col-primary;
	width:10000px;
}

.page-template-black-chili .risposta:before {
	left: -10000px;
}

.page-template-black-chili .risposta:after {
	right:  -10000px;
}

.page-template-black-chili .risposta--content {
	
	display: none;

	&.active {
	
		display: block;

	}

}

.page-template-black-chili .title_domanda {
	margin-bottom: 25px;
}

.page-template-black-chili .steps_bar {
	margin-bottom: 35px;
}

.page-template-black-chili .steps_bar span {
	width: 33.3%;
    height: 4px;
    background-color: #d0d0d0;
    display: inline-block;
    float: left;
    position: relative;
}

.page-template-black-chili .steps_bar span.active {
	background-color: $col-primary;
}

.page-template-black-chili .steps_bar span:after {
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 4px solid #d0d0d0;
    border-right: 4px solid #ffffff;
}

.page-template-black-chili .steps_bar span:last-child:after {
	content: none;
}

.page-template-black-chili .steps_bar span + span:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 4px solid #ffffff;
    border-right: 4px solid #d0d0d0;
}

.page-template-black-chili .steps_bar span.active:after {
    border-top-color:$col-primary;
}

.page-template-black-chili .steps_bar span.active:before {
    border-right-color:$col-primary;
}



.page-template-black-chili .title_domanda,
.page-template-black-chili .risposta .rispota__title,
.page-template-black-chili .title {
    font-size:18px;
}

.page-template-black-chili .risposta .custom-button {
    color: #ffffff;
    cursor: pointer;
}

.page-template-black-chili .risposta .custom-button:before,
.page-template-black-chili .risposta .custom-button:after {
	border-color: #ffffff;
}

.page-template-black-chili .step_4 .title.text-center {
	
	display: none;

	&.active {
	
		display: block;

	}

}

.page-template-black-chili .owl-badge {
	margin: 20px 0 0;
	position:relative;
	width: 60%;
    margin: 20px auto 35px;

    &#slider-target {

	    min-height: 170px;

	}
}

.page-template-black-chili .owl-badge .item {
	float: none;
    text-align: center;
}

.page-template-black-chili .owl-badge .item > img {
	width: auto;
    max-width: 100%;
    display: inline-block;
}

.page-template-black-chili .owl-badge .owl-nav {
	display: block;
	margin: 0;
}

.page-template-black-chili .owl-badge .owl-nav [class*=owl-] {
	margin: 0;
    width: 32px;
    height: 59px;
    background: none;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
}

.page-template-black-chili .badge-share {
	width: 50%;
	margin: 0 auto;
	min-height: 300px;
}

#footer_intro, #footer_end {
	
	display: none;

}


@media screen and (max-width: 767px) {
	.page-template-black-chili .step_1 .legal {
	    display: block;
	    margin: 30px 0 0;
	}

	.page-template-black-chili .step_2 .col {
		margin-left: 0 !important;
		display: block;
		text-align: center;
	}

	.page-template-black-chili .step_2 .col + .col {
		margin-top: 20px;
	}

	.page-template-black-chili input {
		display: block;
		width: 100%;
	}

	.page-template-black-chili input + input {
		margin: 20px 0 0;
	}

	.page-template-black-chili .badge-share {
	    width: 80%;
	}

	.page-template-black-chili .owl-badge {
	
		min-height: 155px;

	}

	.page-template-black-chili .badge-share {

		min-height: 265px;

	}

	.page-template-black-chili .wrapper_art:after {
	
		display: none;

	}
}

@media screen and (max-width: 400px) {
		
	.page-template-black-chili .owl-badge {

		min-height: auto;

		&#slider-target {

			min-height: 70px;

		}
	

	}

}

@media screen and (max-width: 320px) {
		
	.page-template-black-chili .owl-badge {

		min-height: auto;

		&#slider-target {
	
			min-height: 55px;

		}

	}

	.page-template-black-chili .badge-share {

		min-height: 155px;

	}

}

.form__lightbox_wrapper {
	
	display: none;
	
	position: fixed !important;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 199;

	background-color: rgba(black, .8);

	&.is-active {
		
		display: block;

	}

}

.form__lightbox {

	display: none;
	
	position: fixed !important;
	top: 50%;
	left: 50%;
	z-index: 200;
	
	transform: translate(-50%, -50%);

	width: 90%;
	max-width: 1200px;

	height: 90vh;
	max-height: 500px;

	background-color: white;
	border: 10px solid black;

	&.is-active {
		
		display: block;

	}
	
}

	.form__lightbox--content {

		height: 100%;
		
		padding: 20px;
		padding-bottom: 0px;
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
		
		p {
	
			font-size: 14px;

		}

	}

	.form__lightbox--close {
		
		position: absolute;
		top: 0px;
		right: 10px;

		cursor: pointer;
		
		padding: 10px;

		font-size: 120%;
		font-weight: bold;
		line-height: 1;
		color: black;

	}

	.e-button {

		position: relative;
		cursor: pointer;
		display: block;

		width: calc(100% + 40px);
	
		background-color: $col-primary;
		border:none;

		margin: 0 -20px 0;
		padding: 1rem;
		
		font-size: 16px;
		color: white;
		text-align: center;
	
	}