.the-overline.black {
	background: #000;
}

.half {
    background-repeat: no-repeat;

    &.-primary {

        background-color: $primary-color;

        .the-overline {

            background-color: black;

        }

    }

    b {

        font-weight: bold;
        color: $primary-color;

    }

    &.tall {

        position: relative;

        min-height: 100vh;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
}

.uppercase {

    text-transform: uppercase;

}

.text25 {
    font-size: 25px;
    line-height: 1.05;

    @media only screen and (max-width: 1200px){

        font-size: 22px;

    }

    @media only screen and (max-width: 768px){

        font-size: 17px;

    }
}

.text28 {
    font-size: 28px;
    line-height: 1.05;

    @media only screen and (max-width: 1200px){

        font-size: 24px;

    }

    @media only screen and (max-width: 768px){

        font-size: 20px;

    }
}

.text100 {
    font-size: 72px;
    line-height: 65px;

    @media only screen and (max-width: 1200px){

        font-size: 50px;
        line-height: 45px;

    }

    @media only screen and (max-width: 768px){

        font-size: 36px;
        line-height: 32px;

    }
}

.text113 {
    font-size: 113px;
    font-weight: bold;
    line-height: 1;

    @media only screen and (max-width: 1200px){

        font-size: 70px;

    }

    @media only screen and (max-width: 768px){

        font-size: 35px;

    }
}

.the-overline {

    &.white {

        background-color: white;

    }

    &.right {

        margin-left: auto;

    }

}

#event_gripline--logo {

    width: 100%;
    max-width: 480px;

}

#event_safetyWheels--logo {

    font-family: 'Continental Stag Sans Med';
    font-size: 94px;
    line-height: 1.05;
    text-align: right;

    span {

        color: $primary-color;

    }

    @media only screen and (max-width: 1200px){

        font-size: 70px;

    }

    @media only screen and (max-width: 768px){

        font-size: 60px;        

    }

}


.content--tall {

    /*position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 50px;
    /*padding-top: 200px;*/
    height: 100%;

    @media only screen and (max-width: 1200px){

        position: static;
        padding: 40px;
        padding-top: 70px;

    }

    @media only screen and (max-width: 768px){

        position: static;
        padding: 30px;
        padding-top: 50px;

    }

}

    .half--marker {

        display: block;
        margin-bottom: 30px;

        width: 65px;
        height: auto;

        @media only screen and (max-width: 1200px){

            width: 50px;

        }

        @media only screen and (max-width: 768px){

            width: 40px;

        }

    }

    .half--divider {

        display: block;
        margin-top: 10px;
        margin-bottom: 25px;
        
        width: 95px;
        height: auto;

        @media only screen and (max-width: 1200px){

            width: 80px;

        }

        @media only screen and (max-width: 768px){

            width: 60px;

        }

    }

    .half--timer {

        display: block;
        margin-bottom: 25px;
        
        width: 65px;
        height: auto;

        @media only screen and (max-width: 1200px){

            width: 50px;

        }

        @media only screen and (max-width: 768px){

            width: 40px;

        }

    }

#slider_events {

    background-color: black;

    .news-content figcaption {

        background-color: transparent;

        * {

            color: white;

        }

        .the-button {

            color: $primary-color;

        }

    }

}

.btn_archivio_eventi {
	width: 200px;
    display: inline-block;
	margin: 2% auto 0 auto;
	
    @media all and (min-width: 1920px) {
        width: 205px;
    }

    @media only screen and (max-width: 640px) {
        width: 165px;
    }

}

.slider_events {
	position: relative;
	background: #fff;
}

@media all and (min-width: 1920px) {
  .slider_events {
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media only screen and (max-width: 1200px) {
  .slider_events {
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media only screen and (max-width: 640px) {
  .slider_events {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.owl-nav {
	display: none;
}

.posts-carousel {
	z-index: 10;
	position: relative;
	margin: 0;
}

.slider_events .news-item {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
-webkit-transform: scale3d(0.8, 0.8, 1);
   -moz-transform: scale3d(0.8, 0.8, 1);
    -ms-transform: scale3d(0.8, 0.8, 1);
     -o-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);			
-webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
}

.slider_events .owl-item.active.center .news-item {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
-webkit-transform: scale3d(1.0, 1.0, 1);
   -moz-transform: scale3d(1.0, 1.0, 1);
    -ms-transform: scale3d(1.0, 1.0, 1);
     -o-transform: scale3d(1.0, 1.0, 1);
        transform: scale3d(1.0, 1.0, 1);
}

.single h1.post-all-heading,
.page h1.post-all-heading {
	text-align: left;
}

.custom-button {
	display: inline-block;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}

.custom-button {
	display: inline-block;
	margin: 0 auto;
	position: relative;
	z-index: 1;
	color: #f1972a;
    text-decoration: none;
	padding: 10px 40px;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.10em;
}

#cta-page {
    font-size: 16px;
    font-weight: 700;
}

.custom-button.white {
	color: #fff;
}

.custom-button:before {
	content: " ";
	display: inline-block;
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 15px;
	border-top: 1px solid #f1972a;
	border-left: 1px solid #f1972a;
	border-bottom: 1px solid #f1972a;			
-webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
}

.custom-button:after {
	content: " ";
	display: inline-block;
	position: absolute;
	z-index: 2;
	right: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 15px;
	border-top: 1px solid #f1972a;
	border-right: 1px solid #f1972a;
	border-bottom: 1px solid #f1972a;			
-webkit-transition: all .6s ease-in-out;
   -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
     -o-transition: all .6s ease-in-out;
        transition: all .6s ease-in-out;
}


.custom-button.black:before {
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.custom-button.black:after {
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}


.custom-button:hover:before, .custom-button:hover:after {
	width: 100%;
}
	
	
	
	