#modal--cover {

    display: block;
    width: 100%;

}

    .modal--title {

        display: block;
        fon-family: 'Montserrat';
        font-weight: 700;
        color: $primary-color;

        margin-bottom: 20px;

        font-size: 60px;
        line-height: .85;

        @media only screen and (max-width: 160px){

            font-size: 50px;

        }

        @media only screen and (max-width: 1200px){

            font-size: 35px;

        }

        @media only screen and (max-width: 768px){

            margin-top: 30px;
            font-size: 25px;

        }

    }

    .modal--details {

        display: flex;

        p {

            color: white;

        }

        img {

            height: 40px;

            padding-right: 20px;

        }

        > div {

            display: flex;

            margin-right: 20px;

            align-items: center;

            p {

                margin: 0;
                text-align: center;

            }

            @media only screen and (max-width: 768px){

                flex-direction: column;

                img {

                    margin-bottom: 10px;

                }

            }

        }

    }

    #modal--description {

        display: block;

        margin-top: 30px;
        color: white;
    }