.post-template-single-featured-article .hero-fullscreen.overlay-dark-15:before {
	background:none;
}


.post-template-single-featured-article img {
	max-width: 100%;
	height: auto;
}

.post-template-single-featured-article .content__video + .content__video {
	margin-top: 25px;
}

.post-template-single-featured-article .content__video .title {
    font-family: 'Oswald', sans-serif;
    font-size:28px;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: #000;
    margin: 0 0 12px !important;
}

.post-template-single-featured-article .videoWrap {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
    width:100%;

	    iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

}

.post-template-single-featured-article .text_block .post-all-heading {
    text-align: left;
    color: $primary-color;
}

.post-template-single-featured-article #testimonials {

		.the-overline {
		    background: #000;
		}

		.intro-quote {
			margin: 2px auto;
		    position: relative;
		    width: 100px;
		    height: 100px;

		    .ion-quote{
		    	font-size: 70px;
			    position: absolute;
			    top: 50%;
			    left: 50%;
			    transform: translate(-50%,-50%);
		    }
		}

		.section-intro.section-intro-dark p,
		.testimonials-signature {
			color: #fff;
		}

}

.post-template-single-featured-article p strong {
	color: $primary-color;
}

.post-template-single-featured-article #featured-work {
	p {
		color: #000;
	}

	h3.cd-featured-name,
	p strong {
	    color: $primary-color;
	}
}

.post-template-single-featured-article .slick-bottom_v2 .slick-slide {
	height: auto;
}